/* This file is for your main application css. */

/* integrating tailwind with Phoenix: https://pragmaticstudio.com/tutorials/adding-tailwind-css-to-phoenix */

@tailwind base;

@tailwind components;

@tailwind utilities;

.contents {
  height: 100vh;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
}

.row {
  width: 100%;
}

#messages {
  height: 85vh;
  margin-bottom: 20px;
  overflow: auto;
}

.message .icon {
  margin-bottom: 10px;
}

.message .icon img{
  border-radius: 10px;
  width: 60px;
}
.message .icon svg{
  width: 60px;
}

.message .name {
  font-weight: lighter;
  font-size: smaller;
}
